# Archivos con datos sensibles o que no van al repositorio
/MyEcomerce.zip
/logs/
/app/.envrc
/app/sql/local.sql
/app/public/wp-config.php
/app/public/wp-content/uploads/wc-logs/

# Archivos del sistema
Thumbs.db
desktop.ini
.DS_Store
